@mixin flex($justify, $align, $direction) {
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}



.login {
    width: 100%;
    height: 100vh;
    background-color: black;

    .buttonBox {
        width: 100px;
        height: 50px;
        background-color: white;
    }
}